#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-size: 16px;
}

input {
  outline: none;
  border: none;
}

input::-webkit-input-placeholder {
  color: #c8c8c8;
}

.m-flex {
  display: flex;
}
.m-flexd-row {
  flex-direction: row;
}
.m-flexd-rowr {
  flex-direction: row-reverse;
}
.m-flexd-col {
  flex-direction: column;
}
.m-flexd-colr {
  flex-direction: column-reverse;
}
.m-flexw-wrap {
  flex-wrap: wrap;
}
.m-flexw-nowrap {
  flex-wrap: nowrap;
}
.m-flexf-row-wrap {
  flex-flow: row wrap;
}
.m-flexf-row-nowrap {
  flex-flow: row nowrap;
}
.m-flexf-col-wrap {
  flex-flow: column wrap;
}
.m-flex-1 {
  flex: 1;
}
.m-justc-center {
  justify-content: center;
}
.m-justc-start {
  justify-content: flex-start;
}
.m-justc-end {
  justify-content: flex-end;
}
.m-justc-between {
  justify-content: space-between;
}
.m-justc-around {
  justify-content: space-around;
}
.m-justc-evenly {
  justify-content: space-evenly;
}
.m-aligni-start {
  align-items: flex-start;
}
.m-aligni-end {
  align-items: flex-end;
}
.m-aligni-center {
  align-items: center;
}
.m-aligni-baseline {
  align-items: baseline;
}
.m-aligni-stretch {
  align-items: stretch;
}
.m-flexs-1 {
  flex-shrink: 1;
}
.m-flexs-0 {
  flex-shrink: 0;
}
.m-aligns-auto {
  align-self: auto;
}
.m-aligns-start {
  align-self: flex-start;
}
.m-aligns-end {
  align-self: flex-end;
}
.m-aligns-center {
  align-self: center;
}
.m-aligns-baseline {
  align-self: baseline;
}
.m-aligns-stretch {
  align-self: stretch;
}
.m-f10 {
  font-size: 10px;
}
.m-f11 {
  font-size: 11px;
}
.m-f12 {
  font-size: 12px;
}
.m-f13 {
  font-size: 13px;
}
.m-f14 {
  font-size: 14px;
}
.m-f15 {
  font-size: 15px;
}
.m-f16 {
  font-size: 16px;
}
.m-f17 {
  font-size: 17px;
}
.m-f18 {
  font-size: 18px;
}
.m-f20 {
  font-size: 20px;
}
.m-f22 {
  font-size: 22px;
}
.m-f25 {
  font-size: 25px;
}
.m-f30 {
  font-size: 30px;
}
.m-f32 {
  font-size: 32px;
}
.m-f35 {
  font-size: 35px;
}
.m-fw400 {
  font-weight: 400;
}
.m-fw700 {
  font-weight: 700;
}
.m-borr4 {
  border-radius: 4px;
}
.m-borr6 {
  border-radius: 6px;
}
.m-borr8 {
  border-radius: 8px;
}
.m-borr10 {
  border-radius: 10px;
}
.m-borr12 {
  border-radius: 12px;
}
.m-mt2 {
  margin-top: 2px;
}
.m-mt4 {
  margin-top: 4px;
}
.m-mt5 {
  margin-top: 5px;
}
.m-mt6 {
  margin-top: 6px;
}
.m-mt8 {
  margin-top: 8px;
}
.m-mt9 {
  margin-top: 9px;
}
.m-mt10 {
  margin-top: 10px;
}
.m-mr2 {
  margin-right: 2px;
}
.m-mr5 {
  margin-right: 5px;
}
.m-mr8 {
  margin-right: 8px;
}
.m-mr10 {
  margin-right: 10px;
}
.m-mr32 {
  margin-right: 32px;
}
.m-mt15 {
  margin-top: 15px;
}
.m-mt20 {
  margin-top: 20px;
}
.m-mt25 {
  margin-top: 25px;
}
.m-mt40 {
  margin-top: 40px;
}
.m-mt50 {
  margin-top: 50px;
}
.m-ml5 {
  margin-left: 5px;
}
.m-ml8 {
  margin-left: 8px;
}
.m-ml10 {
  margin-left: 10px;
}
.m-ml12 {
  margin-left: 12px;
}
.m-ml15 {
  margin-left: 15px;
}
.m-ml20 {
  margin-left: 20px;
}
.m-ml25 {
  margin-left: 25px;
}
.m-ml30 {
  margin-left: 30px;
}
.m-ml40 {
  margin-left: 40px;
}
.m-ml100 {
  margin-left: 100px;
}
.m-mb16 {
  margin-bottom: 16px;
}
.m-mb10 {
  margin-bottom: 10px;
}
.m-mb8 {
  margin-bottom: 8px;
}
.m-mb5 {
  margin-bottom: 5px;
}
.m-pd3 {
  padding: 3px;
}
.m-pd5 {
  padding: 5px;
}
.m-pd20 {
  padding: 20px;
}
.m-pl20 {
  padding-left: 20px;
}
.m-pl22 {
  padding-left: 22px;
}
.m-pl10 {
  padding-left: 10px;
}
.m-pt10 {
  padding-top: 10px;
}
.m-pb8 {
  padding-bottom: 8px;
}
.m-pb10 {
  padding-bottom: 10px;
}
.m-pb12 {
  padding-bottom: 12px;
}
.m-pb16 {
  padding-bottom: 16px;
}
.m-pt12 {
  padding-top: 12px;
}
.m-pt20 {
  padding-top: 20px;
}
.m-pr10 {
  padding-right: 10px;
}
.m-pr40 {
  padding-right: 40px;
}
.m-align-center {
  text-align: center;
}
.m-posi-r {
  position: relative;
}
.m-posi-a {
  position: absolute;
}
.m-display-i {
  display: inline;
}
.m-display-ib {
  display: inline-block;
}
.m-display-if {
  display: inline-flex;
}
.m-display-b {
  display: block;
}
.m-link {
  text-decoration: underline;
}
.m-boxsize-bb {
  box-sizing: border-box;
}
.m-boxsize-cb {
  box-sizing: content-box;
}